*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/fixtures/modules/*
spec/fixtures/manifests/*
spec/reports
test/tmp
test/version_tmp
tmp
junit
log
.lock
vendor

.DS_Store
.idea
.vagrant

# Project-specific
dist/*
*.tgz
*.tar.gz
Gemfile.lock
puppet/third_party/*
.tmp/*
ec2_amazon-instance.pem
spec/fixtures/modules/*
.librarian/*
spec/fixtures/*

